# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore __pycache__ directories
__pycache__/

battle_logs/
checkpoints/
players/
creatures/
venv313/
venv/
.vscode/
build/
dist/

inspect_report.json
